{% extends "adminBundle::layout.html.twig" %}

{% block body %}
<h2><b>Edit Data Admin </b></h2>
{{ form_start(editform) }}
                {{ form_errors(editform) }}
                    <table>
                    <tr>
                    <td>{{ form_label(editform.nama) }}</td>
                    <td>{{ form_errors(editform.nama) }}</td>
                    <td>{{ form_widget(editform.nama) }}</td>
                    </tr>

                    <tr>
                    <td>{{ form_label(editform.JK) }}</td>
                    <td>{{ form_errors(editform.JK) }}</td>
                    <td>{{ form_widget(editform.JK) }} </td>  
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.tgl_lahir) }}</td>
                    <td>{{ form_errors(editform.tgl_lahir) }}</td>
                    <td>{{ form_widget(editform.tgl_lahir) }}</td>
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.Alamat) }}</td>
                    <td>{{ form_errors(editform.Alamat) }}</td>
                    <td>{{ form_widget(editform.Alamat) }}</td>
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.username) }}</td>
                    <td>{{ form_errors(editform.username) }}</td>
                    <td>{{ form_widget(editform.username) }}</td>
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.password) }}</td>
                    <td>{{ form_errors(editform.password) }}</td>
                    <td>{{ form_widget(editform.password) }}</td>          
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.id) }}</td>
                    <td>{{ form_errors(editform.id) }}</td>
                    <td>{{ form_widget(editform.id) }}</td>          
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.email) }}</td>
                    <td>{{ form_errors(editform.email) }}</td>
                    <td>{{ form_widget(editform.email) }}</td>          
                    </tr>
                    <tr>
                    <td>{{ form_label(editform.Telepon) }}</td>
                    <td>{{ form_errors(editform.Telepon) }}</td>
                    <td>{{ form_widget(editform.Telepon) }}</td>          
                    </tr>
                    <tr>
                    <td>{{ form_widget(editform.save) }}</td>
                    </tr>
                    </table>
            {{ form_widget(editform._token) }}
 {{ form_end(editform) }}

{% endblock %}