{% extends "adminBundle::layout.html.twig" %}

{% block body %}

<div class="table">
<h2><b> Data Admin </b> </h2> 
<button><a href={{path('reg_admin')}} class="button">Create Account</a></button>
<br>
{% if admin is defined %}
	<table class="listing" border=1 cellpadding=0 cellspacing=0>
		<tr>
			<th  class="first" width="177">id</th>
			<th>Nama</th>
			<th>Jenis_Kelamin</th>
			<th>Telepon</th>
			<th>Tanggal_lahir</th>
			<th>Email</th>
			<th>Alamat</th>
			<th colspan="2" class="last"> Action </th>
		</tr>
		 {% for adm in admin %}
            <tr>
               <td>{{adm.useradmin.id}}</td>
               <td>{{adm.useradmin.nama}}</td>
               <td>{{adm.useradmin.JK}}</td>
               <td>{{adm.useradmin.Telepon}}</td>
               <td>{{adm.useradmin.TglLahir|date('Y-m-d')}}</td> 
               <td>{{adm.useradmin.Email}}</td> 
               <td>{{adm.useradmin.Alamat}}</td>
               <td><a href="{{path('edit_admin',{'id_admin': adm.useradmin.Id, 'func':'edit' })}}"><img src="{{ asset('bundles/admin/images/edit.png')}}"></a></td>      
               <td><a href="{{path('delete_admin',{'id_admin': adm.useradmin.Id, 'func':'delete' })}}"><img src="{{ asset('bundles/admin/images/delete.png')}}"></a></td>
			  </tr>
       	 {% endfor %}
	</table>
{% endif %}
	


{% endblock %}